{% extends "base.html" %}

{% block title %}Coffee Page{% endblock  %}

{% block content %}
<h1 class="bg-orange-600 text-3xl text-center py-2">Peets Coffee | All Coffee Page</h1>

<div class="grid grid-cols-3 gap-4 m-4">
    {% for coffee in coffees %}

    <div class="bg-blue-900 p-5 rounded">
        <img src="{{coffee.image.url}}" alt="coffee_pic" class="h-40 w-full rounded shadow-lg">

        <div class="flex justify-between text-2xl font-bold">
            <h3>{{coffee.name}}</h3>
            <h3>${{coffee.price}}</h3>
        </div>
        <a href="{% url "coffee_detail" coffee.id %}" target="_blank" >
            <button type="button" class="inline-flex w-[100%] items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 mt-2">
                {{coffee.type}} - {{coffee.id}}
            </button>
        </a>
    </div>

    {% endfor %}
</div>

{% endblock  %}

 